// Design system styles for the congress-trading-monitor.
//
// The system font is licence-restricted, so we keep the
// system's metrics but substitute an open font stack. The crown logo is
// likewise omitted (govuk-header used without logotype).
$govuk-font-family: "Inter", arial, sans-serif;
$govuk-include-default-font-face: false;

$govuk-page-width: 1200px; // matches .dk-container in kit.css
@import "govuk-frontend/dist/govuk/index";
